<p id="notice"><%= notice %></p>

<p>
  <b>Purchaser name:</b>
  <%= @input.purchaser_name %>
</p>

<p>
  <b>Item description:</b>
  <%= @input.item_description %>
</p>

<p>
  <b>Item price:</b>
  <%= @input.item_price %>
</p>

<p>
  <b>Purchase count:</b>
  <%= @input.purchase_count %>
</p>

<p>
  <b>Merchant address:</b>
  <%= @input.merchant_address %>
</p>

<p>
  <b>Merchant name:</b>
  <%= @input.merchant_name %>
</p>


<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
